@import url("fonts.googleapis.com/css?family=Montserrat");
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #282828;
}
body {
    background-image: linear-gradient(to bottom right, rgb(114, 116, 178), rgb(31, 34, 114))
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - (47.2px + 102.2px));
    padding: 5px;
}
.container {
    padding: 15px 10px;
    width: 50%;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    text-align: center;
    box-shadow: 2px 2px 2px gray;
}
input, textarea {
    margin: 5px 0;
    padding: 10px;
}
input[type=text], input[type=email], textarea {
    border: 1px solid white;
    border-radius: 25px;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 1px solid white;
    border-radius: 25px;
}
textarea {
    resize: none;
}