*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 99%;
    background-image: linear-gradient(to bottom right, rgb(114, 116, 178), rgb(31, 34, 114))
}

#headerBox{
    height: 25%;
    width: 100%;
}

#mainHeader{
    text-align: center;
    font-size: 85px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: rgb(250, 250, 250);
    vertical-align: text-bottom;
}

#aboutBox{
    height: 20%;
    width: 70%;
    margin: 0 15%;
}

#bioText{
    text-align: center;
    font-size: 30px;
    color: white;
}

#contentBox{
    height: 45%;
    width: 100%;
    display: flex;
}

#linksList{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.indexLink{
    width: 50%;
    height: 50%;
    text-align: center;
}

.indexLink a{
    font-size: 20px;
    color: white;
}

#imageBox{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
}

#indexLogo{
    height: 45vh;
}